{
    log {
        level DEBUG
    }
}

http:// {
    root * /usr/local/www/html
    php_fastcgi php:9000
    file_server

    handle_errors {
        respond "{err.status_code} {err.status_text}"
    }
}
